{{ $showFooter := default true .Site.Params.showFooter }}
{{ if $showFooter }}
    {{/* Footer start hook */}}
    {{ partial "functions/get_hook.html" (dict "hook" "footer_start" "context" .) }}

    {{ if not .Site.Params.footerContent }}
    <p style="text-align: center;">
        നിർമ്മിച്ചത്:<br>
        <a target="_blank" rel="noopener noreferrer" href="https://theophinetheodore.xyz">തിയോഫിൻ സാവിയോ തിയഡോർ</a>
    </p>

    <p>
        <a target="_blank" rel="noopener noreferrer"
        href="https://github.com/theophinetheodore/songs">
            പൂർണ്ണമായും സ്വതന്ത്ര സോഫ്റ്റ്‍വെയർ
        </a>
    </p>
    {{ end }}
    
    {{ with .Site.Params.footerContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
{{ end }}
