{{ define "main" }}

<div class="list-container">
  {{ $songs := where .Site.RegularPages "Section" "songs" }}
  <img src="/logo.webp" style="width: 50%; height: 50%; margin: 0 auto;">
  <div style="font-size: 1rem;">
  <p>ക്രിസ്തീയ ഭക്തിഗാന വരികളുടെ ശേഖരം.
  <br>വർഷങ്ങളായി ചെയ്യാൻ ആഗ്രഹിച്ച ഒരു സംരംഭം.
  <br>ഈ വെബ്സൈറ്റിനെക്കുറിച്ച് കൂടുതൽ വായിക്കാൻ <a href="/about">ഈ ലിങ്കിൽ ക്ലിക് ചെയ്യുക.</a>
  </p>
  <p>നിങ്ങളുടേയും ഗാനങ്ങൾ ഇതിൽ ഉൾപ്പെടുത്തണമെന്നുണ്ടെങ്കിൽ അവ എനിക്ക് WhatsApp വഴി അയയ്ക്കുക. എന്റെ WhatsApp നമ്പർ: <a href="tel:+918907712511">8907712511</a>.</p>
  </div>

  <hr style="background-color: var(--code-border)">

  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({
          element: "#search",
          showSubResults: false,
          showImages: false,
          translations: {
            placeholder: "ഗാനങ്ങൾ തിരയുക",
            zero_results: '"[SEARCH_TERM]" കണ്ടെത്താനായില്ല.',
            load_more: "കൂടുതൽ ഫലങ്ങൾ ലോഡ് ചെയ്യുക",
            clear_search: "മായ്‍ക്കുക",
            many_results: '"[SEARCH_TERM]"-ന് [COUNT] ഫലങ്ങൾ',
            one_result: '"[SEARCH_TERM]"-ന് ഒരു ഫലം',
            searching: '"[SEARCH_TERM]"-നായി അന്വേഷിക്കുന്നു',
            
        "one_result": "[COUNT] result for [SEARCH_TERM]",
        }
        });
      });
  </script>

  <p style="margin: 2rem 0;">ആകെയുള്ള പാട്ടുകളുടെ എണ്ണം: <b>{{ len $songs }}</b></p>

  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <h3>{{ $name }} ({{ len $taxonomy }})</h3>

      <ol style="margin: 1rem 0;">
        {{ range $taxonomy }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end}}
      </ol>
    {{ end }}
</div>
{{ end }}
